.element__button-trash {
  display: none;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/button-trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  flex-shrink: 0;
  transition: all 0.2s ease-in;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.element__button-trash:hover {
  opacity: 0.5;
}
