.element__title {
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 1.21;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin: 0;
}
